{{!-- pages/projects.hbs --}}

{{#> layouts/base title="Contact" pathToRoot="./" }}

{{#* inline "head-block"}}        
          <div class="containerQuote">
            <h1>"talk to a human"</h1>
          </div> 
{{/inline}}

 {{#*inline "content-block"}}
    <div class="fb-grid__container">
 <div class="buttonContainer">
            <div class="sectionDescription">
              <h2 class="no-span">get in touch</h2>
            </div>
          </div>
  </div> 
 {{/inline}}


{{#*inline scripts-block}}
      {{!-- Custom scripts per pag.e --}}
{{/inline}}

{{/layouts/base}}